<style type="text/css">
            h1 {
                color: red;
                font-size: 20px;
            }
            
            p{
            	color:lime;
            }
        </style>