<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <resource-ref>
    <description>Oracle</description>
    <res-ref-name>jdbc/edu</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <display-name>test02Web</display-name>
  <context-param>
    <param-name>name</param-name>
    <param-value>hong gil dong</param-value>
  </context-param>
  <context-param>
    <param-name>mail</param-name>
    <param-value>hong@some.com</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testServlet01</display-name>
    <servlet-name>testServlet01</servlet-name>
    <servlet-class>com.servlet.testServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet01</servlet-name>
    <url-pattern>/testServlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>helloServletConfig3</display-name>
    <servlet-name>helloServletConfig3</servlet-name>
    <servlet-class>com.servlet.helloServletConfig3</servlet-class>
    <init-param>
      <description>programer</description>
      <param-name>name</param-name>
      <param-value>sinzoro신철호</param-value>
    </init-param>
    <init-param>
      <description>programer</description>
      <param-name>job</param-name>
      <param-value>super</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServletConfig3</servlet-name>
    <url-pattern>/helloServletConfig3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestGetParameter</display-name>
    <servlet-name>RequestGetParameter</servlet-name>
    <servlet-class>com.servlet.RequestGetParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestGetParameter</servlet-name>
    <url-pattern>/01/RequestGetParameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.servlet.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCycle</display-name>
    <servlet-name>ServletCycle</servlet-name>
    <servlet-class>com.servlet.ServletCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCycle</servlet-name>
    <url-pattern>/ServletCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>com.servlet.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParameterNames</display-name>
    <servlet-name>GetParameterNames</servlet-name>
    <servlet-class>com.servlet.GetParameterNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParameterNames</servlet-name>
    <url-pattern>/GetParameterNames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParameterMap</display-name>
    <servlet-name>GetParameterMap</servlet-name>
    <servlet-class>com.servlet.GetParameterMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParameterMap</servlet-name>
    <url-pattern>/GetParameterMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagingListRst</display-name>
    <servlet-name>PagingListRst</servlet-name>
    <servlet-class>com.servlet.PagingListRst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagingListRst</servlet-name>
    <url-pattern>/PagingListRst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagingListRst2</display-name>
    <servlet-name>PagingListRst2</servlet-name>
    <servlet-class>com.servlet.PagingListRst2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagingListRst2</servlet-name>
    <url-pattern>/PagingListRst2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagingListRst3</display-name>
    <servlet-name>PagingListRst3</servlet-name>
    <servlet-class>com.servlet.PagingListRst3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagingListRst3</servlet-name>
    <url-pattern>/PagingListRst3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServNameETC</display-name>
    <servlet-name>ServNameETC</servlet-name>
    <servlet-class>com.servlet.stj01.ServNameETC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServNameETC</servlet-name>
    <url-pattern>/stj01/ServNameETC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttribute</display-name>
    <servlet-name>GetAttribute</servlet-name>
    <servlet-class>com.servlet.stj01.GetAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttribute</servlet-name>
    <url-pattern>/stj01/GetAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttributeView</display-name>
    <servlet-name>GetAttributeView</servlet-name>
    <servlet-class>com.servlet.stj01.GetAttributeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttributeView</servlet-name>
    <url-pattern>/stj01/GetAttributeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAttribute</display-name>
    <servlet-name>SessionAttribute</servlet-name>
    <servlet-class>com.servlet.stj01.SessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAttribute</servlet-name>
    <url-pattern>/stj01/SessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAttributeView</display-name>
    <servlet-name>SessionAttributeView</servlet-name>
    <servlet-class>com.servlet.stj01.SessionAttributeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAttributeView</servlet-name>
    <url-pattern>/stj01/SessionAttributeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieServlet</display-name>
    <servlet-name>SetCookieServlet</servlet-name>
    <servlet-class>com.servlet.stj01.SetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieServlet</servlet-name>
    <url-pattern>/stj01/SetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieViewServlet</display-name>
    <servlet-name>SetCookieViewServlet</servlet-name>
    <servlet-class>com.servlet.stj01.SetCookieViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieViewServlet</servlet-name>
    <url-pattern>/stj01/SetCookieViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleAction</display-name>
    <servlet-name>SampleAction</servlet-name>
    <servlet-class>com.servletEx.controller.SampleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleAction</servlet-name>
    <url-pattern>/SampleAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendAction</display-name>
    <servlet-name>AttendAction</servlet-name>
    <servlet-class>com.list.controller.AttendAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendAction</servlet-name>
    <url-pattern>/AttendAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CircleAction</display-name>
    <servlet-name>CircleAction</servlet-name>
    <servlet-class>com.list.controller.CircleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CircleAction</servlet-name>
    <url-pattern>/CircleAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentAction</display-name>
    <servlet-name>DepartmentAction</servlet-name>
    <servlet-class>com.list.controller.DepartmentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentAction</servlet-name>
    <url-pattern>/DepartmentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeeAction</display-name>
    <servlet-name>FeeAction</servlet-name>
    <servlet-class>com.list.controller.FeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeAction</servlet-name>
    <url-pattern>/FeeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostAction</display-name>
    <servlet-name>PostAction</servlet-name>
    <servlet-class>com.list.controller.PostAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAction</servlet-name>
    <url-pattern>/PostAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorAction</display-name>
    <servlet-name>ProfessorAction</servlet-name>
    <servlet-class>com.list.controller.ProfessorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorAction</servlet-name>
    <url-pattern>/ProfessorAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScoreAction</display-name>
    <servlet-name>ScoreAction</servlet-name>
    <servlet-class>com.list.controller.ScoreAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreAction</servlet-name>
    <url-pattern>/ScoreAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAction</display-name>
    <servlet-name>StudentAction</servlet-name>
    <servlet-class>com.list.controller.StudentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAction</servlet-name>
    <url-pattern>/StudentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectAction</display-name>
    <servlet-name>SubjectAction</servlet-name>
    <servlet-class>com.list.controller.SubjectAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAction</servlet-name>
    <url-pattern>/SubjectAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BoardAction</display-name>
    <servlet-name>BoardAction</servlet-name>
    <servlet-class>com.board07.controller.BoardAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAction</servlet-name>
    <url-pattern>/BoardAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>sampleAction2</display-name>
    <servlet-name>sampleAction2</servlet-name>
    <servlet-class>com.sample.controller.SampleAction2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sampleAction2</servlet-name>
    <url-pattern>/sampleAction2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BoardAction09</display-name>
    <servlet-name>BoardAction09</servlet-name>
    <servlet-class>com.board09.controller.BoardAction09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAction09</servlet-name>
    <url-pattern>/BoardAction09</url-pattern>
  </servlet-mapping>
  
</web-app>

